.semaforo{
    border:1px solid;
    height: 180px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-radius: 25%;
    background-color: grey;
    margin-top: 50px;
  }
  
  .light-red{
    border: 1px solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
  
   
  }
  
  .activo-rojo{
    background-color: red;
  }
  
  .light-yellow{
    border: 1px solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
   
  }
  .activo-yellow{
    background-color: yellow;
  }
  
  .light-green{
    border: 1px solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
  }
  .activo-green{
    background-color: green;
  }